/* navbar.component.css */
body {
  margin: 0;
  font-size: 14px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  min-height: 70px;
}

.slide-out-div {
  position: absolute;
  right: -300px;
  width: 300px;
  height: calc(100% - 70px);
  background-color: #f0f0f0;
  padding: 20px;
  transition: right 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; /* Hide the slide-out div initially */
}

.show-slide-out {
  right: 0;
}

.container-fluid {
  padding: 0;
}

#nav-logo {
  height: 50px;
  margin-left: 10px;
}

#slide-bar-img {
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
}

#slide-top-heading {
  margin-bottom: 20px;
}

#slide-bottom-designation {
  margin-bottom: 20px;
}

#slide-bottom-logout {
  margin-top: auto;
}

/* Custom CSS for the toggle button */
#toggleBtn {
  color: white;
  margin-left: auto;
  transition: background-color 0.5s ease, transform 0.1s ease;
}

/* Additional styling to vertically center the icon in the button */
#toggleBtn svg {
  vertical-align: middle;
}

/* Animation when button is clicked */
#toggleBtn.clicked {
  background-color: #f39c12;
}

/* Zoom effect on hover */
#toggleBtn:hover {
  transform: scale(1.1);
}
