<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card text-center">
  
        <!--Card image-->
        <div class="view overlay">
          
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Add a Device</h4>
          <!--Text-->
          <p class="card-text">To add a device into your system </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-dark btn-md">Click Me!!</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card text-center">
  
        <!--Card image-->
        <div class="view overlay">
         
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Device Status</h4>
          <!--Text-->
          <p class="card-text">Check all your devices  in inventory</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-dark btn-md">Click Me!!</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card text-center">
  
        <!--Card image-->
        <div class="view overlay">
          
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Users Status </h4>
          <!--Text-->
          <p class="card-text">check the status for the employees</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-dark btn-md">Click Me!!</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card text-center">
  
        <!--Card image-->
        <div class="view overlay">
         
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Add new User</h4>
          <!--Text-->
          <p class="card-text">Add a new employee into your system.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-dark btn-md">Click Me!!</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
</div>